#logo-link {
  display: block;
  height: calc(var(--logo) * 16);
  width: calc(var(--logo) * 16);
}

#tllt {
  display: block;
  position: relative;
  cursor: pointer;
  height: calc(var(--logo) * 14);
  width: calc(var(--logo) * 14);
  border: var(--logo) solid;
  transition: 0.8s;
  animation: tllt-keyframe 0.8s infinite;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
}

.navInactive #tllt,
.navInactive #T0 #T01,
.navInactive #T0 #T02,
.navInactive #L0,
.navInactive #L1,
.navInactive #T1 #T11,
.navInactive #T1 #T12 {
  border-color: white;
}

.navActive #tllt,
.navActive #T01,
.navActive #T02,
.navActive #L0,
.navActive #L1,
.navActive #T1 #T11,
.navActive #T1 #T12 {
  border-color: var(--accent);
}

.navActive #tllt {
    transform: rotate(180deg);
}

.navActive #T0,
.navActive #L0,
.navActive #L1,
.navActive #T1 {
  transform: rotate(-360deg);
}

#tllt:hover {
  transform: rotate(180deg);
  border-color: var(--accent);
}

#T0 {
  top: calc(var(--logo) * 3);
  left: calc(var(--logo) * 3);
}

#T1 {
  top: calc(var(--logo) * 9);
  left: calc(var(--logo) * 9);
}

#L0 {
  top: calc(var(--logo) * 8);
  left: calc(var(--logo) * 2);
}

#L1 {
  top: calc(var(--logo) * 2);
  left: calc(var(--logo) * 8);
}

#T01 {
  left: calc(var(--logo) * -1);
  top: calc(var(--logo) * -1);
  position: absolute;
  width: calc(var(--logo) + var(--logo) / 2);
  height: calc(var(--logo) * 2);
  padding-top: var(--logo);
  border-top: var(--logo) solid;
  border-right: calc(var(--logo) / 2) solid;
  transition: 0.8s;
}

#T02 {
  left: var(--logo);
  top: calc(var(--logo) * -1);
  position: absolute;
  width: calc(var(--logo) + var(--logo) / 2);
  height: calc(var(--logo) * 2);
  padding-top: var(--logo);
  border-top: var(--logo) solid;
  border-left: calc(var(--logo) / 2) solid;
  transition: 0.8s;
}

#T11 {
  left: calc(var(--logo) * -1);
  top: calc(var(--logo) * -1);
  position: absolute;
  width: calc(var(--logo) + var(--logo) / 2);
  height: calc(var(--logo) * 2);
  padding-top: var(--logo);
  border-bottom: var(--logo) solid;
  border-right: calc(var(--logo) / 2) solid;
  transition: 0.8s;
}

#T12 {
  position: absolute;
  left: var(--logo);
  top: calc(var(--logo) * -1);
  width: calc(var(--logo) + var(--logo) / 2);
  height: calc(var(--logo) * 2);
  padding-top: var(--logo);
  border-bottom: var(--logo) solid;
  border-left: calc(var(--logo) / 2) solid;
  transition: 0.8s;
}

#L1 {
  padding-top: var(--logo);
  padding-right: var(--logo);
  border-left: var(--logo) solid;
  border-bottom: var(--logo) solid;
}

#L0 {
  padding-top: var(--logo);
  padding-left: var(--logo);
  border-right: var(--logo) solid;
  border-top: var(--logo) solid;
}

#tllt #T0,
#tllt #L0,
#tllt #L1,
#tllt #T1 {
  position: absolute;
  width: calc(var(--logo) * 2);
  height: calc(var(--logo) * 2);
  transition: 0.8s;
}

#tllt:hover #T0,
#tllt:hover #L0,
#tllt:hover #L1,
#tllt:hover #T1 {
  transform: rotate(-360deg);
}

#tllt:hover #T01,
#tllt:hover #T02,
#tllt:hover #L0,
#tllt:hover #T11,
#tllt:hover #T12,
#tllt:hover #L1 {
  border-color: var(--accent);
}
