footer {
    border-top: solid 1px #7d7d7d4d;;
    padding: 2rem;
    height: 10px;
    position: absolute;
    width: 100%;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    justify-content: center;
}

.link {
    padding-bottom: 0.5em;
}